venv
.env
functions/__pycache__/file_reader.cpython-312.pyc
functions/__pycache__/file_reader.cpython-312.pyc
functions/__pycache__/get_files_info.cpython-312.pyc
functions/__pycache__/file_write.cpython-312.pyc
functions/__pycache__/run_python.cpython-312.pyc
uv.lock
